body {
  font-family: 'IBM Plex Sans', sans-serif;
  @apply bg-accent min-h-screen;
}


thead th {
  @apply text-sm font-semibold bg-primary text-white !important;
}

tbody {
  @apply text-sm;
}

.table :where(td) {
  padding: 0.5rem;
}


.table :where(th, td):first-child {
  padding-left: 2.5rem;
}

.table :where(th, td):last-child {
  padding-right: 1.5rem;
}

input,
select,
textarea {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

input {
  @apply input input-bordered input-info;
}

select {
  @apply select select-secondary;
}

textarea {
  @apply textarea textarea-secondary;
}

tbody a,
tbody label,
tbody button {
  @apply btn btn-sm btn-ghost;
}